@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;700&display=swap");

html {
	scroll-behavior: smooth;
}

::selection {
	background-color: #fff;
	color: #1a1a1a;
}

::-moz-selection {
	background-color: #fff;
	color: #1a1a1a;
	/* color: fireBrick; */
}

::-webkit-scrollbar {
	display: none;
}

* {
	cursor: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Hanken Grotesk", sans-serif;
}

body {
	background-color: #1a1a1a;
	width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	/* overflow: hidden; */
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Hanken Grotesk", sans-serif;
}

/* cursor section */

.cursor {
	height: 24px;
	width: 24px;
	border-radius: 24px;
	background-color: #ffffff;
	z-index: 5;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.1s;
	pointer-events: none;
	mix-blend-mode: difference;
}

.cursor_ {
	height: 24px;
	width: 24px;
	border-radius: 24px;
	background-color: #ffffff;
	z-index: 6;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.1s;
	pointer-events: none;
	mix-blend-mode: difference;
}

/* h3:hover ~ .cursor_ {
	transform: scale(7);
	mix-blend-mode: difference;
} */

/* * Background section */

.blurbox {
	width: 100vw;
	/* height: auto; */
	height: 100vh;
	background-color: #1a1a1a;
	backdrop-filter: blur(5px);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.animated-boxes {
	position: fixed;
	left: 0;
	top: -20vh;
	width: 100vw;
	/* background-color: #e63aa1; */
	height: 120vh;
	z-index: 1;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	/* justify-content: space-evenly; */
}

.columns {
	margin-left: 0.6vw;
	top: 10px;
	/* position: absolute; */
	width: 24.2vw;
	height: 100%;
	/* background-color: #23e123; */
	/* display: flex; */
	/* flex-direction: column; */
}

.row {
	background-color: #383838;
	width: 100%;
	height: 20vh;
	margin-top: 0.6vw;
	backdrop-filter: blur(100px);
	border-radius: 4px;
	transition: all 1s;
}

.circle {
	width: 500px;
	height: 500px;
	border-radius: 50%;
	background: radial-gradient(50% 50% at 50% 50%, #e63aa1, #1a1a1a);
	position: fixed;
	filter: blur(100px);
	top: 240px;
	left: -15%;
	z-index: 0;
}

.circle2 {
	width: 500px;
	height: 500px;
	border-radius: 50%;
	background: radial-gradient(50% 50% at 50% 50%, #f9a91e, #1a1a1a);
	position: absolute;
	filter: blur(100px);
	top: 240px;
	right: -15%;
	z-index: 0;
}

.navbar {
	z-index: 3;
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	user-select: none;
}

.agency {
	user-select: none;
}

.header {
	position: fixed;
	top: 0;
	height: 20vh;
	left: 0;
	width: 100vw;
	padding: 20px 100px;
	/* background: rgba(255, 255, 255, 0); */
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* backdrop-filter: blur(10px); */
	/* border-bottom: 2px solid rgba(255, 255, 255, 0); */
	z-index: 3;
	/* background: #1a1a1a; */
	/* z-index: ; */
	transition: all 0.5s;
}
.header.scrollup {
	padding: 0px 100px;
	background: #1a1a1a;
}

.header-bg {
	position: fixed;
	width: 100vw;
	left: 0;
	opacity: 0;
	transition: all ease-in 0.8s;
}

.header-bg.scrollup {
	opacity: 1;
	position: fixed;
	top: 10px;
	left: 5vw;
	width: 90vw;
	height: 80px;
	background-color: #1a1a1a;
	border-radius: 5vw 10px 5vw 10px;
}

/* .header::after {
	content: "";
	position: absolute;
	height: 10vh;
	width: 100%;
	left: 0;
	top: 20vh;
	z-index: 3;
	background: -webkit-linear-gradient(-90deg, #1a1a1a, 60%, transparent);
	
} */

.logo::before {
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		90deg,
		transparent,
		rgba(255, 255, 255, 0.4),
		transparent
	);
	transition: 0.5s;
}

.header:hover::before {
	left: 100%;
}

.logo {
	transition: all ease 1s;
	z-index: 3;
}

.logo.scrollup {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #fff;
}

.header .logo img {
	width: 120px;
	height: auto;
}

.navbar a {
	z-index: 5;
	user-select: none;
	color: aliceblue;
	font-size: 18px;
	text-decoration: none;
	margin-left: 35px;
	transition: 0.3s;
	font-family: "Josefin Slab", sans-serif;
}

.menu-icon {
	font-size: 0px;
}

.hero {
	/* margin-top: 200px; */
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 2;
	position: absolute;
	top: 10vh;
}

.content h3 {
	/* position: fixed; */
	z-index: 3;
	font-size: 128px;
	font-weight: 400;
	margin-bottom: 20px;
	color: #ffffff;
	font-family: "Habibi", sans-serif;
	transition: all ease 1s;
}

.content h3.scrollup {
	font-size: 300px;
	font-weight: 300;
	position: fixed;
	left: 220px;
	top: 32px;
}

.content h1 {
	z-index: 3;
	font-size: 90px;
	background: -webkit-linear-gradient(
		-25deg,
		#e63aa1,
		#e63aa1,
		#f9a91e,
		#f9a91e
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: "Hanken Grotesk", sans-serif;
}

.services {
	height: 100vh;
	position: absolute;
	top: 100vh;
}

@media (max-width: 350px) {
	.content h3 {
		font-size: 60px;
	}
	.content h1 {
		font-size: 40px;
	}
}

@media (max-width: 480px) {
	.content h3 {
		font-size: 80px;
	}
	.content h1 {
		font-size: 50px;
	}
}

@media (max-width: 600px) {
	.content h3 {
		font-size: 90px;
	}
	.content h1 {
		font-size: 60px;
	}
}

@media (max-width: 970px) {
	.menu-icon {
		font-size: 36px;
		border-radius: 10px;
		color: #ffffff;
		display: block;
		position: absolute;
		top: 45px;
		right: 20px;
		z-index: 1001;
		padding: 10px;

		transition: all 0.2s ease-in-out;
		border: 2px solid rgba(255, 255, 255, 0);
		/* transition-duration: 0.5s; */
	}

	.menu-icon-active {
		display: block;
		position: absolute;
		top: 45px;
		right: 20px;

		background-color: #fff;
		color: #000;
		border: 2px solid white;
	}

	.header .logo img {
		position: absolute;
		z-index: 1001;
		top: 20px;
		left: 20px;
	}
	.header {
		z-index: 5;
		padding: 20px 0px;
	}
	.navbar {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		padding: 5rem 4%;
		background: rgb(26, 26, 26);
		border-bottom: 2px solid rgba(255, 255, 255, 0.745);
		display: none;
		backdrop-filter: blur(200px);
		z-index: 4;
		flex-direction: column;
	}

	.navbar.active {
		display: flex;
		justify-content: center;
		z-index: 5;
	}

	.navbar a {
		z-index: 5;
		margin: 1.5rem 0;
		text-align: left;
	}

	.nav-bg {
		position: fixed;
		top: 11.8%;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: -1;
		display: none;
	}

	.nav-bg.active {
		display: block;
	}

	.content h3 {
		z-index: 3;
		font-size: 100px;
	}
	.content h1 {
		z-index: 3;
		font-size: 70px;
	}
}

.glow-on-hover {
	width: 220px;
	height: 50px;
	border: 2px solid #fff;
	outline: none;
	color: #fff;
	background: #00000000;

	position: relative;
	z-index: 0;
	border-radius: 10px;
}

.glow-on-hover:before {
	content: "";
	color: #1a1a1a;
	/* background: linear-gradient(45deg, #ffffff, #ffffff); */
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: color 0.7s ease-in-out;
	border-radius: 10px;
}

.glow-on-hover:hover {
	background-color: #fff;
	color: #1a1a1a;
}

.glow-on-hover:hover:before {
	opacity: 1;
}

.glow-on-hover:after {
	z-index: -1;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #837a0000;
	left: 0;
	top: 0;
	border-radius: 10px;
}

@keyframes glowing {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}
